pom.xml
*jar
/lib/
/classes/
/out/
/release/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.cpcache/
.rebel_readline_history
resources/public/cljs-out/
.clj-kondo/.cache
.shadow-cljs/
node_modules/
public/
resources/test

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
