{:deps   true
 :dev-http {8081 ["resources/public" "public"]
            9001 ["out/test"]}

 ;; Prevents weird "zip file closed" exceptions in the server
 ;; UPDATE: actually no it doesn't
 ;;:jvm-opts  ["-Dsun.net.www.protocol.jar.useCaches=false"]

 :builds {:app {:target     :browser
                :output-dir "public/js"
                :asset-path "/js"
                :modules    {:main {:init-fn fitlog.main/init}}}
          :test {:target :browser-test
                 :test-dir "out/test"
                 :ns-regexp "-test$"}
          :e2e-test {:target :node-test
                     :output-to "out/node-tests.js"
                     :ns-regexp "-btest$"
                     :autorun true}}}
